@use 'mixins' as *;
@use 'media' as *;
@use 'var' as *;

html {
    font-size: 16px;
}

body {
    font: 400 #{rem(16px)}/ 130% $ff_base;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    color: $color_text;
    background: $white_color;

    &.is-locked {
        overflow: hidden;
    }
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

button {
    @include reset_button;
    display: flex;
    color: inherit;
}

a {
    @include reset_link;
}

.container {
    max-width: $container_width;
    padding-inline: $container_pdd;
    width: 100%;
    margin: 0 auto;
}

.container--right {
    padding-left: calc((100% - $container_width) / 2 + $container_pdd);
}

.container--left {
    padding-right: calc((100% - $container_width) / 2 + var(--container_pdd));
}

.js-scroll {
    opacity: 0;
    transform: translate3d(0, 60px, 0) scale3d(0.96, 0.96, 1);
    transform-style: preserve-3d;
    transition: all 1.2s cubic-bezier(0.22, 1, 0.36, 1);
    will-change: transform, opacity;

    &._animated {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}
