@use 'media' as *;
@use 'mixins' as *;

$ff_accent: 'Instrument Serif', sans-serif;
$ff_base: 'Alexandria', sans-serif;

$color_accent: #bfea00;
$color_text: #18272c;
$dark_color: #18272c;
$light_color: #fff;

$section_indent: #{rem(100px)};
$container_width: #{rem(1232px)};
$container_pdd: #{rem(16px)};

@include media('desktop') {
}

@include media('tablet') {
}

@include media('mobile') {
}
