@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;

.section-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: rem(12px);

    @include media('tablet_above') {
        gap: rem(20px);
    }

    .main-title {
        font-family: $ff_accent_it;
        font-style: italic;
    }

    &__title {
        font: 400 #{rem(16px)} / 130% $ff_base;
        text-transform: uppercase;
        color: rgba(24, 39, 44, 0.5);
        @include media('mobile') {
            font-size: rem(24px);
        }
    }
}
