@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;

.main-title {
    font: 400 #{rem(60px)} / 130% $ff_accent;
    @include media('tablet') {
        font-size: rem(50px);
    }

    @include media('mobile') {
        font-size: rem(40px);
        line-height: 100%;
    }
}
