@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;

.main-title {
    font: 400 #{rem(40px)} / 130% $ff_accent;

    @include media('tablet_above') {
        font-size: rem(50px);
    }
    @include media('laptop_above') {
        font-size: rem(60px);
    }
}
