@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;

.action {
    padding-block: rem(60px);
    background: $color_accent;
    overflow: hidden;

    @include media('tablet_above') {
        padding-block: var(--section_indent);
    }

    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: rem(12px);
        max-width: rem(806px);
        margin: 0 auto;
        @include media('tablet_above') {
            gap: rem(20px);
        }
    }

    &__subtitle {
        font: 400 #{rem(20px)} / 130% $ff_base;
        @include media('tablet_above') {
            font-size: rem(24px);
        }
    }

    &__deco {
        display: block;
        width: rem(80px);
        @include media('tablet_above') {
            display: none;
        }
    }

    &__controls {
        z-index: 2;
        display: flex;
        flex-direction: column;
        max-width: rem(258px);
        width: 100%;
        position: relative;
        gap: rem(8px);
        @include media('tablet_above') {
            flex-direction: row;
            max-width: 100%;
            width: max-content;
            justify-content: center;
        }

        &::after {
            display: none;
            content: '';
            z-index: -1;
            position: absolute;
            pointer-events: none;
            right: rem(-200px);
            top: 50%;
            transform: translateY(-50%);
            width: rem(104px);
            height: rem(104px);
            background: url('../imgs/ico/stars.svg') no-repeat center center /
                cover;

            @include media('tablet_above') {
                display: inline-flex;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: rem(40px);
        align-items: center;
        @include media('tablet_above') {
            gap: rem(60px);
        }
    }

    .main-title {
        font-size: rem(40px);
        line-height: 130%;
        @include media('tablet_above') {
            font-size: rem(52px);
            line-height: 42px;
        }
    }
}
