@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;

.action {
    padding-block: var(--section_indent);
    background: $color_accent;
    overflow: hidden;
    @include media('mobile') {
        padding-block: rem(60px);
    }

    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: rem(20px);
        max-width: rem(806px);
        margin: 0 auto;
        @include media('mobile') {
            gap: rem(12px);
        }
    }

    &__subtitle {
        font: 400 #{rem(24px)} / 130% $ff_base;
        @include media('mobile') {
            font-size: rem(20px);
        }
    }

    &__deco {
        display: none;
        @include media('mobile') {
            display: block;
            width: rem(80px);
        }
    }

    &__controls {
        z-index: 2;
        display: flex;
        position: relative;
        gap: rem(8px);
        @include media('mobile') {
            flex-direction: column;
            max-width: rem(258px);
            width: 100%;
        }

        &::after {
            content: '';
            z-index: -1;
            position: absolute;
            pointer-events: none;
            right: rem(-200px);
            top: 50%;
            transform: translateY(-50%);
            width: rem(104px);
            height: rem(104px);
            background: url('../imgs/ico/stars.svg') no-repeat center center /
                cover;
            @include media('mobile') {
                display: none;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: rem(60px);
        align-items: center;
        @include media('mobile') {
            gap: rem(40px);
        }
    }

    .main-title {
        font-size: rem(52px);
        line-height: 42px;
         @include media('mobile') {
            font-size: rem(40px);
            line-height: 130%;
        }
    }
}
