@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;

.articles {
    overflow: hidden;
    padding-block: var(--section_indent);

    &__slider {
        overflow: visible;
    }

    &__slide {
        height: auto;
    }

    &__head {
        max-width: rem(629px);
        margin-bottom: rem(60px);
        padding-bottom: rem(10px);
        @include media('tablet_above') {
            padding-bottom: rem(20px);
            margin: 0 auto var(--section_indent);
        }
    }
    &__info {
        max-width: rem(515px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(15px);
        @include media('tablet_above') {
            align-items: center;
        }

        p {
            font: 600 #{rem(16px)} / 21px $ff_base;
            margin: 0;
            color: #000;
            @include media('tablet_above') {
                font-size: rem(20px);
            }
        }
        a,
        span {
            font: 400 #{rem(16px)} / 21px $ff_base;
            @include media('tablet_above') {
                font-size: rem(20px);
            }
        }

        span {
            display: inline-flex;
        }

        li {
            display: flex;
            align-items: flex-start;
            gap: rem(5px);
            @include media('tablet_above') {
                align-items: center;
            }
        }
    }
    &__title {
        font: 400 #{rem(38px)} / 42px $ff_accent;
        text-align: left;
        margin-bottom: rem(20px);
        color: #000;
        @include media('tablet_above') {
            font-size: rem(48px);
            margin-bottom: rem(30px);
            text-align: center;
        }
    }
}
