@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;

.article {
    padding-block: rem(100px) var(--section_indent);
    @include media('tablet_above') {
        padding-block: rem(160px) rem(120px);
    }

    .section-info {
        flex-direction: column-reverse;
        margin-bottom: rem(40px);
        @include media('tablet_above') {
            margin-bottom: rem(80px);
        }
    }

    .content {
        img {
            width: 100%;
            margin-bottom: rem(24px);

            @include media('tablet_above') {
                margin-bottom: rem(40px);
            }
        }

        p {
            font: 300 #{rem(18px)} / 130% $ff_base;
            margin-bottom: rem(15px);

            @include media('tablet_above') {
                font-size: rem(24px);
                margin-bottom: rem(24px);
            }

            span {
                font-weight: 500;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &:has(+ ul),
            &:has(+ ol) {
                margin-bottom: 0;
            }

            &:has(+ h2),
            &:has(+ h1),
            &:has(+ h3),
            &:has(+ h4),
            &:has(+ h5),
            &:has(+ h6) {
                margin-bottom: rem(40px);
            }
        }

        ul,
        ol {
            padding: 0 0 0 rem(24px);
            margin: 0 0 rem(24px) 0;

            li {
                font: 300 #{rem(18px)} / 130% $ff_base;
                list-style-type: none;
                position: relative;

                @include media('tablet_above') {
                    font-size: rem(24px);
                }

                span {
                    font-weight: 500;
                    text-decoration: underline;
                    color: $color_accent;
                }
                &::before {
                    content: '';
                    left: rem(-20px);
                    top: 50%;
                    position: absolute;
                    transform: translateY(-50%);
                    height: rem(2px);
                    display: inline-flex;
                    width: rem(8px);
                    background: $color_accent;
                }
            }
        }

        h1 {
            font: 400 #{rem(28px)} / 130% $ff_accent;
            letter-spacing: 2px;
            margin: 0 0 rem(15px) 0;
            @include media('tablet_above') {
                font-size: rem(46px);
                margin: 0 0 rem(24px) 0;
            }
        }

        h2 {
            font: 400 #{rem(24px)} / 130% $ff_accent;
            letter-spacing: 2px;
            margin: 0 0 rem(16px) 0;

            @include media('tablet_above') {
                font-size: rem(40px);
                margin: 0 0 rem(24px) 0;
            }
        }

        h3 {
            font: 400 #{rem(22px)} / 130% $ff_accent;
            margin: 0 0 rem(15px) 0;

            @include media('tablet_above') {
                font-size: rem(34px);
                margin: 0 0 rem(24px) 0;
            }
        }

        h4 {
            font: 400 #{rem(20px)} / 130% $ff_accent;
            margin: 0 0 rem(15px) 0;
            @include media('tablet_above') {
                font-size: rem(28px);
                margin: 0 0 rem(24px) 0;
            }
        }
        h5 {
            font: 400 #{rem(18px)} / 130% $ff_accent;
            margin: 0 0 rem(15px) 0;
            @include media('tablet_above') {
                font-size: rem(26px);
                margin: 0 0 rem(24px) 0;
            }
        }
        h6 {
            font: 400 #{rem(18px)} / 130% $ff_accent;
            margin: 0 0 rem(15px) 0;
            @include media('tablet_above') {
                font-size: rem(24px);
                margin: 0 0 rem(24px) 0;
            }
        }
    }
}
