@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;

.couch {
    padding-block: $section_indent;
    background: #e8eaed;

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: rem(20px);
    }

    .section-info {
        margin-bottom: rem(60px);
    }
}
