@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;

.faq {
    padding-block: rem(100px);
    @include media('tablet_above') {
        padding-block: var(--section_indent);
    }

    &__list {
        max-width: rem(821px);
        margin: 0 auto;
    }

    .section-info {
        max-width: rem(882px);
        position: relative;
        margin: 0 auto rem(60px);

        @include media('tablet_above') {
            margin: 0 auto rem(55px);
        }
        &::after {
            content: '';
            top: -50%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            position: absolute;
            width: rem(160px);
            height: rem(120px);
            background: url('../imgs/ico/questions.svg') no-repeat center
                center / cover;
            @include media('tablet_above') {
                top: -20%;
            }
        }
    }
}
