@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;

.info {
    padding-block: var(--section_indent);
    background: $dark_color;
    color: $white_color;

    @include media('tablet_above') {
        padding-block: var(--section_indent) rem(138px);
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: rem(60px);

        @include media('tablet_above') {
            gap: rem(40px);
            flex-direction: row;
        }

        &:has(.info__subtitle) {
            .info__texts {
                margin-bottom: rem(20px);
            }
        }

        &:nth-child(odd) {
            .info__pic {
                margin-right: 0;
                max-width: rem(272px);

                @include media('tablet_above') {
                    max-width: rem(400px);
                    margin-right: rem(100px);
                }
            }

            .info__deco {
                left: 0;
                bottom: 0;
                transform: translate(-50%, 50%);
            }
        }
        &:nth-child(even) {
            flex-direction: column-reverse;

            @include media('tablet_above') {
                flex-direction: row-reverse;
            }

            .info__pic {
                max-width: rem(350px);
                @include media('tablet_above') {
                    max-width: rem(495px);
                }
            }
            .info__deco {
                transform: translate(0);
                left: auto;
                top: auto;
                bottom: rem(50px);
                right: rem(-7px);

                @include media('mobile') {
                    left: 0;
                    top: 0;
                    bottom: auto;
                    right: auto;
                    transform: translate(-80%, 50%);
                }
            }
        }
    }

    &__pic {
        position: relative;
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__descr {
        max-width: 100%;
        @include media('tablet_above') {
            max-width: rem(540px);
        }
    }

    &__texts {
        display: flex;
        flex-direction: column;
        gap: rem(24px);
    }

    &__text {
        font: 300 #{rem(16px)} / 160% $ff_base;
        @include media('tablet_above') {
            font-size: rem(20px);
        }
    }

    &__subtitle {
        font: 400 #{rem(16px)} / 130% $ff_base;
        max-width: 100%;
        color: $color_accent;

        @include media('mobile') {
            font-size: rem(20px);
            max-width: rem(271px);
        }
    }

    &__deco {
        width: rem(80px);
        position: absolute;
        @include media('tablet_above') {
            width: rem(110px);
        }
    }

    &__icon {
        margin: 0 auto;
        padding-top: rem(40px);
        width: rem(60px);
        @include media('tablet_above') {
            padding-top: rem(50px);
        }

        @include media('laptop_above') {
            padding-top: rem(180px);
            width: rem(84px);
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .main-title {
        margin-bottom: rem(12px);
        @include media('tablet_above') {
            margin-bottom: rem(50px);
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: var(--section_indent);
    }
}
