@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;

.prices {
    padding-block: var(--section_indent);

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: rem(72px) rem(40px);
        @include media('mobile') {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: rem(0px) rem(30px);
        }
    }

    .section-info {
        margin-bottom: rem(50px);
        @include media('mobile') {
            margin-bottom: rem(40px);
        }
    }
}
