@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;

.results {
    padding-block: var(--section_indent) rem(120px);
    @include media('mobile') {
        padding-block: var(--section_indent);
    }

    .section-info {
        margin-bottom: rem(80px);

        @include media('mobile') {
            margin-bottom: rem(40px);
        }
    }

    &__cards {
        margin-bottom: rem(80px);
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: rem(40px);
        @include media('mobile') {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: rem(20px) rem(10px);
            margin-bottom: rem(40px);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: rem(4px);
        padding: rem(19px);
        border: 1px solid #cfd4da;

        @include media('mobile') {
            border: none;
            padding: 0;
        }
    }

    &__pics {
        display: flex;
        flex-direction: column;
        gap: rem(4px);

        img {
            width: 100%;
        }
    }

    &__text {
        font: 400 #{rem(16px)} / 130% $ff_base;
        text-transform: uppercase;
        margin-top: auto;
        @include media('mobile') {
            font-size: rem(12px);
        }
    }

    &__controls {
        display: flex;
        gap: rem(8px);
        justify-content: center;
        @include media('mobile') {
            flex-direction: column;
            gap: rem(8px);
        }
    }
}
