@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;

.results {
    padding-block: var(--section_indent);
    @include media('tablet_above') {
        padding-block: var(--section_indent) rem(120px);
    }

    .section-info {
        margin-bottom: rem(40px);
        @include media('tablet_above') {
            margin-bottom: rem(80px);
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: rem(20px) rem(10px);
        margin-bottom: rem(40px);
        @include media('tablet_above') {
            margin-bottom: rem(80px);
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: rem(40px);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(4px);
        border: none;
        padding: 0;
        @include hover {
            .results__pics {
                transform: translateY(-5px);
            }
        }

        @include media('tablet_above') {
            padding: rem(19px);
            border: 1px solid #cfd4da;
        }
    }

    &__pics {
        display: flex;
        flex-direction: column;
        gap: rem(4px);
        overflow: hidden;
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

        img {
            width: 100%;
            @include transitions(
                0.5s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
    }

    &__text {
        font: 400 #{rem(12px)} / 130% $ff_base;
        text-transform: uppercase;
        margin-top: auto;
        @include media('tablet_above') {
            font-size: rem(16px);
        }
    }

    &__controls {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: rem(8px);
        @include media('tablet_above') {
            flex-direction: row;
        }
    }
}
