@use '../base/media' as *;
@use '../base/mixins' as *;
@use '../base/var' as *;

.contact-modal {
    &__box {
        max-height: 90%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        border-radius: rem(16px);
        padding: rem(40px) rem(20px) rem(20px) rem(20px);
        max-width: 95%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $white_color;
        &::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;
        -ms-overflow-style: none;
        @include media('tablet_above') {
            padding: rem(96px) rem(45px);
            border-radius: rem(30px);
            max-width: rem(697px);
        }
    }

    &__close {
        position: absolute;
        width: rem(18px);
        height: rem(18px);
        top: rem(16px);
        right: rem(16px);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include hover {
            transform: rotate(90deg);
        }
        @include media('tablet_above') {
            width: rem(22px);
            height: rem(22px);
            top: rem(25px);
            right: rem(25px);
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__subtitle {
        font: 400 #{rem(16px)} / 130% $ff_base;
        text-align: center;
        opacity: 0.5;
        margin-bottom: rem(24px);
        @include media('tablet_above') {
            font-size: rem(24px);
            margin-bottom: rem(60px);
        }
    }

    &__form {
        max-width: rem(360px);
        width: 100%;
        margin: 0 auto;

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: rem(36px);
        }
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: rem(8px);
        @include media('tablet_above') {
            gap: rem(16px);
        }
    }

    &__field {
        input {
            font: 300 #{rem(18px)} / 130% $ff_base;
            width: 100%;
            outline: none;
            padding: rem(10px) rem(12px);
            border-radius: rem(8px);
            color: inherit;
            border: 1px solid $color_text;
            &::placeholder {
                color: rgba(0, 0, 0, 0.5);
            }

            &[type='number']::-webkit-outer-spin-button,
            &[type='number']::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            @include media('tablet_above') {
                font-size: rem(24px);
                padding: rem(11px) rem(19px);
            }
        }
    }

    .main-title {
        text-align: center;
        margin-bottom: rem(16px);
        @include media('tablet_above') {
            margin-bottom: rem(20px);
        }
    }
}
