@use '../base/media' as *;
@use '../base/mixins' as *;
@use '../base/var' as *;

.couch-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include hover {
        .couch-box__pic img {
            transform: translateY(-2%);
        }
        .couch-box__cta {
            background: $dark_color;
            color: $white_color;
        }
    }

    &__pic {
        width: 100%;

        img {
            width: 100%;
            mix-blend-mode: multiply;
            @include transitions(
                0.5s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        gap: rem(12px);
    }

    &__name {
        font: 600 #{rem(18px)} / 130% $ff_base;
        @include media('tablet_above') {
            font-size: rem(20px);
        }
    }

    &__cta {
        width: max-content;
        font: 400 #{rem(14px)} / 100% $ff_base;
        text-transform: uppercase;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: rem(9px) rem(15px);
        border-radius: rem(8px);
        border: 1px solid $dark_color;
        margin-top: auto;
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }
}
