@use '../base/media' as *;
@use '../base/mixins' as *;
@use '../base/var' as *;

.footer {
    overflow: hidden;
    padding-block: rem(50px) rem(40px);
    background: $dark_color;
    color: $light_color;

    @include media('mobile') {
        padding-block: rem(60px) rem(40px);
    }

    &__panel {
        display: flex;
        justify-content: space-between;
        gap: rem(20px);
        @include media('tablet') {
            flex-direction: column;
            gap: rem(60px);
        }
    }

    &__title {
        font: 600 #{rem(16px)} / 130% $ff_base;
        text-transform: uppercase;
        margin-bottom: rem(15px);
    }

    &__logo {
        max-width: rem(126px);
        @include media('mobile') {
            max-width: rem(116px);
        }

        img {
            width: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
        @include media('tablet') {
            align-items: center;
        }
    }

    &__action {
        @include media('mobile') {
            display: flex;
            align-items: center;
            gap: rem(12px);
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: rem(20px);
        margin-top: auto;

        &.mobile--visible {
            display: none;
            @include media('mobile') {
                display: flex;
                margin-top: 0;
                gap: rem(12px);
            }
        }
        &.mobile--hidden {
            @include media('mobile') {
                display: none;
            }
        }

        li {
            display: inline-flex;
            flex-shrink: 0;
            width: rem(55px);
            height: rem(55px);
            @include media('mobile') {
                width: rem(40px);
                height: rem(40px);
            }
        }

        a {
            width: 100%;
            height: 100%;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include hover {
                transform: scale(1.05);
            }
        }
    }

    &__contacts {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: rem(40px);
    }

    &__communication {
        display: flex;
        flex-direction: column;
        gap: rem(20px);
        @include media('tablet') {
            flex-direction: row;
            justify-content: center;
        }
        @include media('mobile') {
            flex-direction: column;
        }

        li {
            display: inline-flex;
            align-items: center;
            gap: rem(7px);
        }

        img {
            flex-shrink: 0;
            width: rem(16px);
            height: rem(16px);
        }

        a {
            font: 400 #{rem(16px)} / 120% $ff_base;
            color: $white_color;
            display: inline-flex;
            align-items: center;
            gap: rem(7px);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include hover {
                color: $color_accent;
            }
        }

        p {
            font: 400 #{rem(16px)} / 120% $ff_base;
            color: $white_color;
        }
    }

    &__nav {
        max-width: rem(356px);
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: rem(20px);
        @include media('tablet') {
            width: 100%;
            max-width: rem(700px);
            margin: 0 auto;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
        li {
            font: 400 #{rem(12px)} / 130% $ff_base;
        }

        a {
            font: inherit;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include hover {
                color: $color_accent;
            }
        }
    }

    &__lawer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(20px);
    }

    &__legals {
        display: flex;
        align-items: center;
        gap: rem(21px);

        li {
            font: 600 #{rem(12px)} / 130% $ff_base;
        }

        a {
            font: inherit;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include hover {
                color: $color_accent;
            }
        }
    }

    &__copy {
        font: 300 #{rem(12px)} / 130% $ff_base;
    }

    &__deco {
        width: rem(75px);
        height: rem(75px);
        position: absolute;
        top: rem(0px);
        right: rem(0px);
        transform: translate(25%, -25%);
        @include media('mobile') {
            right: rem(30px);
        }
    }

    .cta {
        width: 100%;
        color: $color_text;
        @include media('mobile') {
            padding: rem(6px) rem(12px);
            border-radius: rem(8px);
            text-align: center;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: rem(60px);
        position: relative;
    }
}
