@use '../base/media' as *;
@use '../base/mixins' as *;
@use '../base/var' as *;

body:has(section.intro) {
    .header {
        &__logo {
            transform: translateY(-100%);
            opacity: 0;
            visibility: hidden;
            @include media('tablet_above') {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
        }
        &.is-scroll {
            .header__logo {
                transform: translateY(0%);
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

body:not(:has(.intro)):has(.mobile-menu.is-active) {
    .header {
        .header__logo {
            transform: translateY(-100%);
            opacity: 0;
            visibility: hidden;
        }
    }
}

body:has(.mobile-menu.is-active) {
    .header {
        &.is-scroll {
            background: transparent;
            backdrop-filter: blur(0px);
            .header__logo {
                transform: translateY(-100%);
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
    padding-block: rem(20px);
    @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    @include media('tablet_above') {
        padding-block: rem(22px);
    }

    &.is-transform {
        transform: translateY(-100%);
    }

    &.is-scroll {
        padding-block: rem(10px);
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(20px);
    }

    &__logo {
        max-width: rem(90px);
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('laptop_above') {
            max-width: rem(126px);
        }

        img {
            width: 100%;
        }
    }

    &__list {
        display: none;

        @include media('tablet_above') {
            gap: rem(8px);
            display: flex;
            align-items: center;
        }

        @include media('laptop_above') {
            gap: rem(18px);
        }

        li {
            font: 400 #{rem(14px)} / 130% $ff_base;
            text-transform: uppercase;
            @include media('laptop_above') {
                font-size: rem(16px);
            }

            a {
                font: inherit;
            }

            &:has(.submenu) {
                cursor: pointer;
                position: relative;
                display: inline-flex;
                align-items: center;
                gap: rem(5px);

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: rem(0px);
                    background: $color_accent;
                    @include transitions(
                        0.3s,
                        cubic-bezier(0.768, 0.304, 0.496, 0.884)
                    );
                }

                &::after {
                    content: '';
                    display: inline-flex;
                    flex-shrink: 0;
                    width: rem(9px);
                    height: rem(5px);
                    background: url('../imgs/ico/ico-drop.svg') no-repeat center
                        center / cover;
                    @include transitions(
                        0.3s,
                        cubic-bezier(0.768, 0.304, 0.496, 0.884)
                    );
                }

                @include hover {
                    &::after {
                        transform: rotate(180deg);
                    }

                    &::before {
                        height: rem(2px);
                    }

                    .submenu {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: all;
                        transform: translateY(0);
                    }
                }

                li {
                    display: flex;
                    font: 300 #{rem(16px)} / 130% $ff_base;

                    a {
                        width: 100%;
                        display: inline-flex;
                        padding: rem(7px) rem(12px);
                        @include transitions(
                            0.3s,
                            cubic-bezier(0.768, 0.304, 0.496, 0.884)
                        );

                        &:hover {
                            background: rgba(191, 234, 0, 0.1);
                        }

                        &.is-active {
                            background: rgba(191, 234, 0, 0.2);
                        }
                    }
                }
            }
        }
    }

    &__controls {
        display: none;
        @include media('tablet_above') {
            display: flex;
            align-items: center;
            gap: rem(15px);
        }
    }

    &__tel {
        font: 400 #{rem(14px)} / 130% $ff_base;
        padding: rem(2px) rem(4px);
        border-radius: rem(4px);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('laptop_above') {
            font-size: rem(16px);
        }

        &:hover {
            background: rgba(191, 234, 0, 0.2);
        }

        &:active {
            background: rgba(191, 234, 0, 0.4);
        }
    }

    &__burger {
        display: inline-flex;
        position: relative;
        width: rem(40px);
        height: rem(40px);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('tablet_above') {
            display: none;
        }

        &.is-active {
            span:nth-child(1) {
                top: 50%;
                transform: translate(-50%, -50%) rotateZ(-135deg);
            }
            span:nth-child(2) {
                right: 50%;
                width: 0;
            }
            span:nth-child(3) {
                top: 50%;
                transform: translate(-50%, -50%) rotateZ(135deg);
            }
        }

        span {
            position: absolute;
            right: 0;
            width: rem(28px);
            height: 2px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 2px;
            background: #000;
            transition: inherit;

            &:nth-child(1) {
                top: rem(12px);
            }

            &:nth-child(2) {
                top: 48%;
            }

            &:nth-child(3) {
                bottom: rem(12px);
            }
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(20px);
    }

    .submenu {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(#{rem(5px)});
        position: absolute;
        top: 100%;
        left: rem(-10px);
        width: max-content;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

        &__box {
            width: 100%;
            padding-block: rem(8px);
            background: $white_color;
            box-shadow: 0px 0px 12px 0px #00000040;
        }
    }
}
